body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #333;
  line-height: 1.5;
}

.image-container {
  text-align: center;
  margin-bottom: -8px;
}

.image-container img {
  max-width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-bottom: 5px solid #555;
}

header h1 {
  margin: 5px 0;
  font-size: 2.5em;
}

header p {
  margin: 5px 0;
  font-size: 1.2em;
}

section {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.social-icons a {
  color: #333;
  margin: 0 15px;
  font-size: 24px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style-type: disc;
  padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.contact-info {
  font-size: 1.2em;
}

.experience-item,
.education-item,
.languages-item,
.awards-item {
  margin-bottom: 20px;
}

.experience-item,
.education-item,
.languages-item {
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
}

.awards-item {
  margin-bottom: 20px;
}

.awards-item li {
  margin-bottom: 10px;
}

.container h3 {
  color: #333;
}

.container p {
  color: #555;
}

.container ps {
  color: #dde1e5;
}

.skills {
  margin-top: 20px;
}

.skills h3 {
  color: #333;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
}

.skills li {
  color: #555;
  padding-left: 20px;
}

.skills li:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}